// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-image{
  width: 50%;
}

.red{
  color: red;
}

.blue{
  color: blue;
}