<nav class="navbar navbar-default">
    <div class="navbar-header col-md-3 col-md-offset-1">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
        <li>
          <%= image_tag "space_needle.png", {alt:"Space Needle", class: "img-circle img-responsive nav-image"} %>
        </li> 
        <li><%= link_to "Seattle Food Inspections", root_path, class: "navbar-brand" %></li>
      </ul>
    </div>
</nav>